* {
    -fx-primary-color: #13123A;
    -fx-secondary-color: #00002C;
    -fx-grey-color: #b9b9b9;
    -fx-focus-color: -fx-secondary-color;
}

.primary-color {
    background-color: #13123A;
    -fx-background-color: #13123A;
}

.secondary-color {
    background-color: #00002C;
    -fx-background-color: #00002C;
}

.sidebar_button {
    background-color: #242551;
    -fx-background-color: #242551;
    -fx-background-radius: 10px;
}

.sidebar_button:hover {
    background-color: #454599;
    -fx-background-color: #454599;
}

.trasparent-text-field {
    background-color: rgba(0, 0, 0, 0);
    -fx-background-color: rgba(0, 0, 0, 0);
}

.search-bar {
    border-color: #D2D2D2;
    -fx-border-color: #D2D2D2;
}


/* .inbox-label {
    font-weight: bold;
    -fx-font-weight: bold;
} */

.right-border {
    border-color: #D2D2D2;
    border-width: 1px;
    -fx-border-color: #D2D2D2;
    -fx-border-width: 0 1 0 0;
}

#content:hover {
    background-color: #b4b4c1;
    -fx-background-color: #b4b4c1;
}

.menu-bar1 {
    background-color: #00002C;
    -fx-background-color: #00002C;
}

.menu-bar2 {
    background-color: #00002C;
    -fx-background-color: #00002C;
}

.text-field {
    background-color: white;
    -fx-accent: -fx-primary-color;
    -fx-background-color: -fx-grey-color, white;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-background-radius: 0;
}

.text-field:focused {
    background-color: white;
    -fx-background-color: -fx-primary-color, white;
}