* {
    -fx-primary-color: #13123A;
    -fx-secondary-color: #00002C;
    -fx-grey-color: #b9b9b9;
    -fx-backgrounds: transparent;
    -fx-table-cell-border-color: #424242;
    -fx-text-box-border: gray;
}

.left-border {
    border-color: -fx-primary-color;
    border-width: 1px;
    -fx-border-color: -fx-primary-color;
    -fx-border-width: 0 1 0 0;
}

.sidebar_button {
    background-color: -fx-secondary-color;
    -fx-background-color: -fx-secondary-color;
}

.submit_button {
    background-color: -fx-secondary-color;
    -fx-background-color: -fx-secondary-color;
}

.sidebar_button:hover {
    background-color: #262659;
    -fx-background-color: #262659;
}

.text-field {
    border-color: gray;
    border-width: 0 0 1 0;
    background-color: transparent;
    -fx-border-color: grey;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
}

.text-field:focused {
    background-color: #b9b9b935;
    -fx-background-color: #b9b9b935;
}

.table_vbox,
.form_vbox {
    border-radius: 10 10 10 10;
    border-color: #00002C;
    background-color: transparent;
    -fx-background-color: transparent;
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
    -fx-border-color: #00002C;
}

.table-view {
    border-color: #00002C;
    border-radius: 0;
    background-color: transparent;
    -fx-background-color: transparent;
    -fx-border-radius: 0;
    -fx-border-color: #00002C;
}

.table-view:focused {
    background-color: transparent;
    -fx-background-color: transparent;
}

.table-view .column-header-background {
    background-color: linear-gradient(#00002C 0%, #424141 100%);
    -fx-background-color: linear-gradient(#00002C 0%, #424141 100%);
}

.table-view .column-header-background .label {
    background-color: transparent;
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .column-header {
    background-color: transparent;
    -fx-background-color: transparent;
}

.table-view .table-cell {
    -fx-text-fill: white;
}

.table-view .table-cell {
    background-color: transparent;
    border-color: transparent;
    padding: 2 0 2 10px;
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
}

.table-row-cell:hover {
    background-color: #93f9b911;
    -fx-background-color: #93f9b911;
    -fx-text-background-color: red;
}

.table-row-cell:odd {
    background-color: #93f9b911;
    padding: 0.0em;
    -fx-background-color: #93f9b911;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-row-cell:even {
    padding: 0.0em;
    background-color: #1dbbdd11;
    -fx-background-color: #1dbbdd11;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}